body {
background-color: #b4c0f8;
margin: 0;
font-family: 'Times New Roman', Times, serif;

}
.inicio{
    display: flex;
    height: 100vh:
}

.foto{
    flex: 1;
    background-color: #a2bef3 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto img{
    width: 300px;
    height: auto;
    border-radius: 8px;
}